<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
                xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/Layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.8/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">

</head>
<body>
    <header>Header FIXE</header>

    <section layout:fragment="content"></section>

    <footer>Footer fixe</footer>


</body>
</html>